<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 10px 130px;
        }
        nav ul{
            display: flex;
            gap: 5rem;
        }
        ul li{
            list-style: none;
        }
        ul li a{
            color: rgb(32, 32, 32);
            text-decoration: none;
        }
        .logo{
            font-weight: 900;
            font-size: 30px;
            margin-top: 7px;
        }
        .social{
            display: flex;
            gap:1.5rem;
            align-items: center;
            margin-right: 50px;
        }
        .social img{
            width: 28px;
        }
        .content{
            padding: 10px 200px;
        }
        .content .row{
            display: flex;
            justify-content: space-around;
            gap: 0rem;
        }
        .content .row img{
            width:450px;
            height: 420px;
            border-radius: 5px;
            padding: 0 100px;
        }
        .first-col{
            padding: 130px 0;
            padding-bottom: 0;
        }
        .first-col h2{
            font-size: 30px;
            line-height:50px;
        }
        .first-col p{
            font-size: 13px;
            line-height: 25px;
        }
        .content .row .sub{
            display: grid;
            grid-template-columns: 500px 30px;
            gap: 0;
        }
        .content .row .sub img{
            width: 40px;
            height: 40px;
            margin-left:-90px;
            margin-top:40px;
        }
        .blogs .row{
            display:grid;
            grid-template-columns: 270px 270px 270px 270px;
            gap: 18px;
        }
        .card{
            width: 270px;
            /* height: 380px; */
            border-radius: 10px;
            border: 1px solid rgba(220, 220, 220, 0.488);
        }
        .card .bottom{
            display: flex;
            justify-content: space-between;
        }
        .content .blogs .row .col:nth-child(even) .card{
            background-color: rgb(229, 229, 229);
            
        }
        .content .blogs .row .col .card img{
            width: 270px;
            height: 200px;
            padding: 0;
        }.content .blogs .row .col .card .card-body{
            padding: 0 10px;
        }
        .content .blogs .row .col .card .card-body .bottom .reaction img{
            width:12px;
            height: 12px;
            padding: 0;
            margin-right: 5px;
        }
        .content .blogs .row .col .card .card-body .bottom img{
            width:25px;
            height: 25px;
            padding: 0;
        }
        .content .blogs .row .col .card .card-body .bottom{
            font-size: 12px;
            font-weight: 700;
            color: rgb(76, 76, 76);
            margin-bottom: 10px;
        }
        .content .blogs .row .col .card .card-body h4{
            font-weight: 900;
            line-height: 20px;
            text-align: center;
        }
        .content .blogs .row .col .card .card-body p{
            font-size: 15px;
            color: rgb(97, 97, 97);
            line-height: 20px;
        }
        a{
            text-decoration: none;
        }
        .card{
            color: rgba(30, 30, 30, 0.852);
        }
        footer{
            padding: 10px 130px;
            background-color: rgb(50, 49, 49);
            text-align: center;
            color: white;
        }
        .footer p{
            padding: 3% 0;
        }
        footer nav{
            padding: 10px 0;
            margin: 0;
        }
        footer ul li a{
            color: white;
            text-decoration: none;
        }
        footer hr{
            border:0.7px solid gray;
        }
        .social img{
            width: 20px;
        }
        footer .subscribe h2{
            font-size: 30px;
        }
        footer .subscribe input{
            background-color: transparent;
            border: 1px solid gray;
            width: 250px;
            height: 28px;
            border-radius: 5px;
            margin-top: -10px;
        }
        footer .subscribe button{
            position: absolute;
            margin-left: -15px;
            height: 28px;
            margin-top: -5px;
        }
        .more{
            margin: 20px 0;
            text-align: right;
        }
        .more a{
            color: #EA6523;
            font-weight: 600;
        }
        .content .blogs .blog-top{
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
        }
        .content .blogs .blog-top input{
            width: 250px;
            height: 20px;
            border: 0;
            border-bottom: 1px solid rgb(155, 155, 155);
        }
        .content .blogs .blog-top .input img{
            width:15px;
            position: absolute;
            margin-left: -15px;
        }
        .content .blogs .blog-top .input{
            margin-top: 20px;
        }
    </style>
</head>