<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 10px 130px;
        }
        nav ul{
            display: flex;
            gap: 5rem;
        }
        ul li{
            list-style: none;
        }
        ul li a{
            color: rgb(32, 32, 32);
            text-decoration: none;
        }
        .logo{
            font-weight: 900;
            font-size: 30px;
            margin-top: 7px;
        }
        .social{
            display: flex;
            gap:1.5rem;
            align-items: center;
            margin-right: 50px;
        }
        .social img{
            width: 28px;
        }
        .content{
            padding: 10px 200px;
        }
        .content .row{
            display: flex;
            justify-content: space-around;
            gap: 0rem;
        }
        .content .row img{
            width:500px;
            height: 420px;
            border-radius: 5px;
            padding: 0 100px;
        }
        .first-col{
            padding: 130px 0;
            padding-bottom: 0;
        }
        .first-col h2{
            font-size: 30px;
            line-height:50px;
        }
        .first-col p{
            font-size: 13px;
            line-height: 25px;
        }
        .content .row .sub{
            display: grid;
            grid-template-columns: 500px 30px;
            gap: 0;
        }
        .content .row .sub img{
            width: 40px;
            height: 40px;
            margin-left:-90px;
            margin-top:40px;
        }
        .blogs .row{
            display:grid;
            grid-template-columns: 270px 270px 270px 270px;
            gap: 18px;
        }
        .card{
            width: 270px;
            /* height: 380px; */
            border-radius: 10px;
            border: 1px solid rgba(220, 220, 220, 0.488);
        }
        .card .bottom{
            display: flex;
            justify-content: space-between;
        }
        .content .blogs .row .col:nth-child(even) .card{
            background-color: rgb(229, 229, 229);
            
        }
        .content .blogs .row .col .card img{
            width: 270px;
            height: 200px;
            padding: 0;
        }.content .blogs .row .col .card .card-body{
            padding: 0 10px;
        }
        .content .blogs .row .col .card .card-body .bottom .reaction img{
            width:12px;
            height: 12px;
            padding: 0;
            margin-right: 5px;
        }
        .content .blogs .row .col .card .card-body .bottom img{
            width:25px;
            height: 25px;
            padding: 0;
        }
        .content .blogs .row .col .card .card-body .bottom{
            font-size: 12px;
            font-weight: 700;
            color: rgb(76, 76, 76);
            margin-bottom: 10px;
        }
        .content .blogs .row .col .card .card-body h4{
            font-weight: 900;
            line-height: 20px;
            text-align: center;
        }
        .content .blogs .row .col .card .card-body p{
            font-size: 15px;
            color: rgb(97, 97, 97);
            line-height: 20px;
        }
        footer{
            padding: 100px 130px;
            background-color: rgb(50, 49, 49);
            text-align: center;
            color: white;
        }
        footer nav{
            padding: 10px 0;
            margin: 0;
        }
        footer ul li a{
            color: white;
            text-decoration: none;
        }
        .social img{
            width: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="logo">Tech.</div>
        <div class="social">
            <img src="/images/facebook.png" alt="facebook">
            <img src="/images/linkedin.png" alt="">
            <img src="/images/twitter.png" alt="">
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <div class="first-col">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, tempora.</h2>
                <div class="sub">
                    <p>Lorem, ipsum dolor sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sapiente consectetur perspiciatis eaque ut quasi ex voluptatum illum dolore aliquam? amet consectetur adipisicing elit. Tempore amet fuga molestiae, ut neque quia.</p>
                    <img src="/images/arrow.png"  alt="">
                </div>
            </div>
            <div class="col">
                <img src="/images/ai.jpg" alt="">
            </div>
        </div>
        <hr>
        
        <div class="blogs">
            <h2>Blogs</h2>
            <input type="search">
            <div class="row">
                <% for(let i = 0; i < 8; i++){ %>
                 <div class="col">
                    <div class="card">
                       <img src= <%= news.articles[i].urlToImage %>  alt="">
                       <div class="card-body">
                        <% const word = news.articles[i].description.split(" ").slice(0, 10).join(" "); %>
                        <% const title = news.articles[i].title.split(" ").slice(0, 5).join(" "); %>
                        <h4><%= title %></h4>
                        <p><%= word+' ...' %></p>
                        <div class="bottom">
                            <div class="reaction">
                                <img src="/images/heart.png" class="reaction--img" alt="">
                                 676324
                            </div>
                            <img src="/images/arrow.png" alt="">
                        </div>
                       </div>
                    </div>
                </div>
                   <% }%>
                
                </div>
            </div>
        </div>
    </div>
    <footer>
        <nav>
            <div class="logo">Tech.</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="social">
                <img src="/images/facebook-white.png" alt="facebook">
                <img src="/images/linkedin-white.png" alt="">
                <img src="/images/twitter-white.png" alt="">
            </div>
        </nav>
        <hr>
        &copy;copyright 2024. All Rights Reserved.
    </footer>
</body>
</html>